<div class="container ">
 <app-card-score-comp></app-card-score-comp>
<br>
    <div class="jumbotron  bg-info " style=" height:380px">
        <div class="row">
            <div class="col-lg-4 ">
                <h5 style="text-align: center">SL TOUR OF SA, 2019</h5>
              <a href={{SAHeading}}>
                <img src="{{articleimage1}}" alt="logo" title="SL TOUR OF SA, 2019" style="width:350px; height:250px ">
              </a> 
            </div> 

            <div class="col-lg-8 ">
              <div class="row">
                  <div class="col-lg-12 ">
                     <a href={{SAHeading}}>
                         <p style="text-emphasis-color: black; font-size: xx-large ; text-align: center"> Batting adversities root cause of South Africa's Durban shock</p>
                     </a>
                  </div>
                  <div class="col-lg-12 " >
                      <a  href={{subtitle1}}>
                         <p class="text-warning" style="text-align:center; font-size:larger;  ">
                               India failure gets Guptill to rectify errors
                          </p>
                        </a>
                  </div>

                  <div class="col-lg-12 " >
                      <a  href={{subtitle2}}>
                         <p class="text-warning" style="text-align:center; font-size:larger;  ">
                            Tamim calls for caution in opening 10 overs  
                                                  </p>
                        </a>
                  </div>

                  <div class="col-lg-12 " >
                      <a  href={{subtitle3}}>
                         <p class="text-warning" style="text-align:center; font-size:larger;  ">
                            'Excited' Rashid awaits Gayle challenge
                          </p>
                      </a>
                  </div>
              </div>  
            </div> 
        </div>
    </div>

    <div class="jumbotron  bg-info " style=" height:380px">
        
        
        <div class="row">
            
           <div class="col-lg-4 ">
              <h5 style="text-align: center ;  font-size:medium">India vs Australia <br>T20I Series: Stats Preview</h5>
              <div class="embed-responsive embed-responsive-16by9">
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/5mFve__eur8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                 </iframe>
              </div>               
           </div> 
        
            <div class="col-lg-4 ">
                <h5 style="text-align: center;  font-size:medium">Stranger XI S1E3: Who's the G.O.A.T in ODIs - Tendulkar or Kohli?</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oXdIlFbyfW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <a class="nav-link " style="text-align :center" routerLink="/Videos" routerLinkActive="active">Click here  to go to the videos section</a>

             </div> 

            <div class="col-lg-4 ">
                <h5 style="text-align: center ;  font-size:medium">Stranger XI S1E2: Should Indian players skip some part of IPL ahead of 2019 WC?</h5>
             
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wRUM2kUqwVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div> 
            
        </div>
        
    </div>
    
    
</div>