
<div class="container">

<footer class="page-footer bg-success text-light font-small blue pt-4 " >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">

          <!-- Content -->
          <a class="navbar-brand"  routerLink="Home" routerLinkActive="active">
              <img src="{{logo_link}}" alt="logo" style="width:150px;">
          </a>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">
                 MOBILE SITE & APPS</h5>

            <ul class="list-unstyled">
              <li>
                  <i class="fas fa-globe"></i>
                  <a href="https://m.cricbuzz.com/">&nbsp;m.cricbuzz.com</a>
              </li>
              <li>
                  <i class="fab fa-android " style="size:9px"></i>
                  <a href="https://play.google.com/store/apps/details?id=com.cricbuzz.android"> &nbsp;ANDROID</a>
              </li>
              <li>
                  <i class="fab fa-apple"></i>
                <a href="https://itunes.apple.com/app/id360466413">&nbsp;IOS</a>
              </li>
            
            </ul>

          </div>
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
  
            </div>
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.cricbuzz.com/"> cricbuzz.com</a>
    </div>
    <!-- Copyright -->

  </footer>
</div>