<div class="container">

  <div class="row ">

    <div class="col-lg-3 ">
       <div class="card  border-dark bg-success" style="width:250.5px; height:150px">
         <div class="row ">
          <div class="col-lg-2 " >
            <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">SL</p>
          </div>
          <div class="col-lg-1 " >
              <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">191 ,304/9 (85.3 overs)</p>
            </div>
         </div>
         <br>
         <div class="row ">
            <div class="col-lg-3 " >
              <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">RSA</p>
            </div>
            <div class="col-lg-1 " >
                <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">235 , 259</p>
              </div>
          </div>
          <div class="row" >
            <div class="container " style="text-align:center ">
                <a class="text-warning" href={{card1Link}}>
                  
                  <p> sri lanka won by 1 wicket</p>
                </a>
            </div>
          </div>
       </div>
    </div>
   
    <div class="col-lg-3 ">
        <div class="card  border-dark bg-success" style="width:250.5px; height:150px">
          <div class="row ">
            
            
            <div class="col-lg-3 " >
              <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">ENG</p>
            </div>
            <div class="col-lg-1 " >
                <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">263-all out (47.4 Ovs)</p>
              </div>
          </div>
         <br>
          <div class="row ">
              <div class="col-lg-3 " >
                <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">WI</p>
              </div>
              <div class="col-lg-1 " >
                  <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">289/6 (50.0 Ovs)</p>
                </div>
            </div>
            <div class="row" >
              <div class="container text-warning" style="text-align:center ">
                  <a class="text-warning" href={{card2Link}}>
                  
                    <p> Windies won by 26 runs</p>
                  </a>
              </div>
            </div>
        </div>
      </div>

      <div class="col-lg-3 ">
          <div class="card  border-dark bg-success" style="width:250.5px; height:150px">
            <div class="row ">
              <div class="col-lg-3 " >
                <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">INDW </p>
              </div>
              <div class="col-lg-1 " >
                  <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">202 (49.4 Ovs)</p>
                </div>
            </div>
           <br>
            <div class="row ">
                <div class="col-lg-3 " >
                  <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">ENGW</p>
                </div>
                <div class="col-lg-1 " >
                    <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">136-all out (41.0 Ovs)</p>
                  </div>
              </div>
              <div class="row" >
                <div class="container text-warning" style="text-align:center ">
                    <a class="text-warning" href={{card3Link}}>
                  
                      <p>India Women won by 66 runs</p>
                    </a>
                </div>
              </div>
          </div>
        </div>
        
        <div class="col-lg-3 ">
          <div class="card  border-dark bg-success" style="width:250.5px; height:150px">
            <div class="row ">
             <div class="col-lg-2 " >
               <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">SL</p>
             </div>
             <div class="col-lg-1 " >
                 <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">191 ,304/9 (85.3 overs)</p>
               </div>
            </div>
            <br>
            <div class="row ">
               <div class="col-lg-3 " >
                 <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ; font-size: 24px;">RSA</p>
               </div>
               <div class="col-lg-1 " >
                   <p class="card-text" style="display:inline-block; width:140px ;padding-left:10px ;  font-size: 17px;">235 , 259</p>
                 </div>
             </div>
             <div class="row" >
               <div class="container " style="text-align:center ">
                   <a class="text-warning" href={{card1Link}}>
                     
                     <p> sri lanka won by 1 wicket</p>
                   </a>
               </div>
             </div>
          </div>
       </div>
    </div>
  </div>