/* You can add global styles to this file, and also import other style files */
/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  
  /* selected link */
  a:active {
    color:black;
  }